#testTimer {
  display: block;
  position: fixed;
  top: 1.5em;
  right: 0;
  width: 30em;
  color: purple;
  text-align: right;
  padding: 2px;
  z-index: -1;
  font-family: mono;
}

#testTimer:before {
  content: 'Time remaining: ';
  color: black;
  font-family: sans-serif;
}
